<div class="user-shoe-contents">
  <div class="balloon5">
    <div class="faceicon">
      <%= image_tag @user.get_profile_image(100,100) %>
    </div>
  </div>
  <h3><%= @user.name %></h3>

  <div>
    <%= link_to edit_user_path(@user.id) do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>

  <% if user_signed_in? && current_user != @user %>
    <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
      <%= link_to 'unfollow', [@user, :follow], method: :delete %>
    <% else %>
      <%= link_to 'follow', [@user, :follow], method: :post %>
    <% end %>
  <% end %>
  <%= link_to 'followings', [@user, :followings] %>/<%= link_to 'followers', [@user, :followers] %>
</div>
<div class="user-show-content">
  <% @user.photos.each do |photo| %>
    <div class="photo-items">
      <div>
        <div class="balloon5">
          <div class="faceicon1">
            <%= image_tag photo.user.get_profile_image(70,70) %>
          </div>
          <div class="name-gr">
            <div class="name">
              <p><%= photo.user.name %></p>
            </div>
          </div>
        </div>
      </div>
      <%= link_to photo_path(photo.id) do %>
        <%= image_tag photo.image, size: "300x300" %>
      <% end %>
      <p><%= photo.caption %></p>
    </div>
  <% end %>
</div>