
<div class="tag-show-contents">
  <h3>Actions</h3>
  <%= link_to 'Tags List', tags_path %>

  <%= link_to 'Delete', tag_path(@tag), method: :delete, data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'} %>

  <h3>Tag</h3>

  <%# タグ名 %>
  <p>#<%= @tag.name %></p>

  <%# タグに関連付く記事一覧 %>
  <ul>
    <% @tag.photos.each do |photo| %>
      <li>
        <%= link_to photo.caption, photo_path(photo) %><%= image_tag photo.user.get_profile_image(70,70) %><%= photo.user.name %>
      </li>
    <% end %>
  </ul>
</div>
