
<div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

<%= javascript_pack_tag "swiper/swiper.js" %>

<% @photos.each do |photo| %>
  <div>
    <div class="balloon5">
      <div class="faceicon1">
        <%= link_to user_path(photo.user.id) do %>
          <%= image_tag photo.user.get_profile_image(70,70) %>
        <% end %>
      </div>
      <div class="name-gr">
        <div class="name">
          <p><%= link_to photo.user.name, user_path(photo.user.id) %></p>
        </div>
      </div>
    </div>
    <%= link_to photo_path(photo.id) do %>
      <%= image_tag photo.image, size: "300x300" %>
    <% end %>
    <p><%= photo.caption %></p>
  </div>
<% end %>