<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ebf2981b1c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>


  </head>

  <body>

    <header>
      <nav>
        <h2>TestApp</h2>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'TOP',root_path %></li>
            <li><%= link_to'HOME', user_path(current_user) %></li>
            <li><%= link_to 'TAGS', tags_path %></li>
            <li><%=link_to '+', new_photo_path %></li>
            <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'TOP',root_path %></li>
            <li><%= link_to 'SIGNIN',new_user_session_path %></li>
            <li><%= link_to 'SIGNUP',new_user_registration_path %></li>
          <% end %>
        </ul>
        </nav>
    </header>

    <%= yield %>
  </body>
</html>
